h1 {
    background-color: #04430C;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Bungee Outline'
}
.pageheader {
    font-family: 'Bungee Outline';
    font-weight: 900;
    text-align: left;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    font-family: 'Bungee Outline';
}
.text {
    color: #04430C;
    font-family:'Bungee Inline';
    font-size: 36px;
}
.directions {
    display: flex
}
.directions div {
    flex: 1;
}

.returnbutton {
    align-items: right;
}